.logosvg {
  z-index: 2;
}

.logosvg svg {
  width: 200px;
}

@media screen and (min-width: 400px) {
  .logosvg svg {
    width: 224px;
  }
}

.logost0 {
  fill:#31B09F;
}

.logost1 {
  fill:#41EAD4;;
}

.logost2 {
  fill:#8DF2E5;
}
