
.categoryItemBox {
  position: relative;
}

.categoryItemBox:before {
  content: '';
  height: 1px;
  background: #000;
  position: absolute;
  top: -1px;
  left: -1px;
} 

/* .categoryItemBox:after {
  content: '';
  width: 60px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -2px;
  left: -2px;
}  */

.categoryItemBox:nth-child(odd):before {
  width: 840px;
}

.categoryItemBox:nth-child(even):before {
  width: 400px;
}

/* .categoryItemBox:nth-child(odd):after {
  width: 80px;
} */

/* .categoryItemBox:nth-child(even):after {
  width: 80px;
} */

/* .categoryItemBox:last-child:after {
  width: 640px;
} */