
.categoryItemBox {
  position: relative;
  padding-right: 0px
}

.categoryItemBox:before {
  content: '';
  height: 1px;
  background: #999;
  position: absolute;
  top: -1px;
  left: -1px;
} 

.categoryItemBox:before {
  width: 1160px;
}

/* .categoryItemBox:nth-child(2):before {
  width: 960px;
}

.categoryItemBox:nth-child(3):before {
  width: 800px;
}

.categoryItemBox:nth-child(4):before {
  width: 960px;
} */

.categoryItemBox:last-child:after {
  content: '';
  width: 1160px;
  height: 1px;
  background: #999;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

@media (max-width: 960px) {
  .categoryItemBox:nth-child(*):before {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .categoryItemBox:last-child:after {
    width: 100%;
  }
}


/* Category Page Links */

.categoryPageLinks a {
  background-color: #fff;
  color: #000;
  border: 1px solid #bbb;
  font-weight: 500;
  padding: 0.58rem 0.9rem;
  text-decoration: none !important;
}

.categoryPageLinks a:hover {
  background-color: #000;
  color: #fff;
}