
.categoryItemBox {
  position: relative;
}

.categoryItemBox:before {
  content: '';
  height: 1px;
  background: #999;
  position: absolute;
  top: -1px;
  left: -1px;
} 

/* .categoryItemBox:after {
  content: '';
  width: 60px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -2px;
  left: -2px;
}  */

.categoryItemBox:nth-child(odd):before {
  width: 880px;
}

@media (max-width: 960px) {
  .categoryItemBox:nth-child(odd):before {
    width: 100%;
  }
}

.categoryItemBox:nth-child(even):before {
  width: 560px;
}

@media (max-width: 960px) {
  .categoryItemBox:nth-child(even):before {
    width: 100%;
  }
}

/* .categoryItemBox:nth-child(odd):after {
  width: 80px;
} */

/* .categoryItemBox:nth-child(even):after {
  width: 80px;
} */

.categoryItemBox:last-child:after {
  content: '';
  width: 960px;
  height: 1px;
  background: #999;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

@media (max-width: 960px) {
  .categoryItemBox:last-child:after {
    width: 100%;
  }
}



.categoryPageLinks a {
  background-color: #fff;
  color: #000;
  border: 1px solid #bbb;
  font-weight: 500;
  padding: 0.58rem 0.9rem;
  text-decoration: none !important;
}

.categoryPageLinks a:hover {
  background-color: #000;
  color: #fff;
}