@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

html,
body {
  padding: 0;
  /* margin: 100px; */
  color: blue;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1.4rem;
  letter-spacing: -.04rem;
}

.logo:hover {
  text-decoration: none !important
}

.logo-stack {
  font-weight: 700;
}

.main-content {
  margin-top: 4rem;
}

.list-item-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.list-row-item {
  margin-right: 2rem;
}

h1 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 600 !important;
}

h3 {
  font-size: 28px !important;
  font-weight: 600 !important;
}

.company-features, .company-links {
  margin-right: 8rem;
}
